.navbar-default .navbar-brand{
	padding: 5px 10px 5px 10px;
}
.navbar-default .navbar-brand img{
	height: 40px;
	transition: height 0.3s ease;
}
.navbar-default .navbar-text{
	font-size: 18px;
	line-height: 20px;
	margin-left: 20px;
	color: #FFF;
	transition: all 0.3s ease;
	/*color: #BF360C;*/
}

@media(min-width:768px) {
	.navbar-default .navbar-brand{
		padding: 5px 0px 5px 20px;
	}
	.navbar-default .navbar-text{
		margin-left: 10px;
	}
	.wider{
		transition: all 0.3s ease;
	}
	.wider .navbar-brand img{
		height: 80px !important;
		transition: height 0.3s ease;
	}
	.wider .navbar-text{
		font-size: 18px !important;
		font-weight: bold !important;
		margin-top: 35px !important;
		transition: all 0.3s ease;
	}
	.wider .navbar-nav>li>a {
		padding-top: 35px !important;
		padding-bottom: 35px !important;
	}
}

.navbar-default{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	margin-bottom: 0;
	background-color: #900020;
	border-color: #900020;
}
.navbar-default a{
	font-size: 13px;
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
	background-color: #AC0026;
	color: #FFF;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  /*color: rgb(53, 89, 135);*/
	color: #FFF;
}
.navbar-default .navbar-nav > li > a{
	text-transform: uppercase;
	font-weight: 600;
	color: #EEE;
}
.navbar-nav .dropdown-menu {
	box-shadow: 2px 2px 10px rgba(0,0,0,0.175);
	border-radius: 0px;
	top: 99%;
	border: none;
	border-top: 2px solid #32557f;
}
.navbar-nav .dropdown-menu li a{
	line-height: 22px; 
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #FFF;
	}
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #FFF;
}
.navbar-default .navbar-toggle:hover{
	background-color: #AC0026;	
}
.dropdown-menu .divider {
	height: 1px;
	margin: 4px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}
